<footer>
  <div class="ContainerFooter__1">
    <ul class="ContainerFooter__LogoYRedes">
      <li class="LogoFooter">
        <img
          src="/Inicio/Recursos_Inicio/Svg/Logo_Planeta_Blanco.svg"
          alt="Logo planeta Sas Esp"
        />
      </li>

      <li>
        <p class="lead">
          Soluciones ambientales con innovación y sostenibilidad.
        </p>
      </li>

      <li>
        <div class="RedesList">
          <a
            class="RedesFooter"
            href="https://instagram.com/planetasasesp"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <i class="ri-instagram-line"></i>
          </a>
          <a
            class="RedesFooter"
            href="https://facebook.com/planetasasesp"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <i class="ri-facebook-circle-fill"></i>
          </a>
          <a
            class="RedesFooter"
            href="https://www.linkedin.com/company/planetasasesp"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn "
          >
            <i class="ri-linkedin-box-fill"></i>
          </a>
        </div>
      </li>
      <li class="FooterCopy">
        <p>©2025 Planeta SAS ESP. Todos los derechos reservados.</p>
      </li>
    </ul>

    <ul class="ContainerFooter__Secciones">
      <li><h3>Secciones</h3></li>
      <li>
        <a href="/Servicios/Servicios.html" title="Servicios"
          ><p>Servicios</p></a
        >
      </li>
      <li>
        <a href="/QuienesSomos/QuienesSomos.html" title="Quienes somos"
          ><p>Quiénes somos</p></a
        >
      </li>
      <li>
        <a href="/Contactanos/Contactanos.html" title="Contactanos"
          ><p>Contáctanos</p></a
        >
      </li>
    </ul>

    <ul class="ContainerFooter__Visitanos">
      <li><h3>Visítanos</h3></li>
      <li>
        <p>
          Planta: Vereda Barro blanco Vía Bojaca. Finca el Rancho. Mosquera
          Cundinamarca.
        </p>
      </li>
      <li>
        <p>
          Oficina Principal: Kilómetro 1 más 800 Via- Madrid - Puente Piedra.
        </p>
      </li>
    </ul>

    <ul
      class="ContainerFooter__Contacto"
      itemscope
      itemtype="https://schema.org/LocalBusiness"
    >
      <li><h3>Contacto</h3></li>
      <li>
        <a href="mailto:info@planetaesp.com" itemprop="email"
          ><p>info@planetaesp.com</p></a
        >
      </li>
      <li>
        <p>3104415734 - 3005259767</p>
      </li>
    </ul>
  </div>
</footer>
