<header>
  <nav class="Header">
    <input type="checkbox" id="nav-toggle" class="Header__Toggle" />
    <label for="nav-toggle" class="Header__Burger" aria-label="Abrir menú">
      <i class="ri-menu-line icon-open" aria-hidden="true"></i>
      <i class="ri-close-line icon-close" aria-hidden="true"></i>
    </label>
    <ul class="Header__List">
      <li class="Header__Item">
        <a
          href="/Inicio/Index.html"
          title="Ir a inicio"
          aria-label="Volver a la página de inicio"
        >
          <img
            class="Header__Img"
            src="/Inicio/Recursos_Inicio/Svg/Logo_fondo_osucro.svg"
            data-logo-on-dark="/Inicio/Recursos_Inicio/Svg/Logo_fondo_osucro.svg"
            data-logo-on-light="/Inicio/Recursos_Inicio/Svg/Logo_fondo_claro.svg"
            alt="Logo planeta Sas Esp"
            width="945"
            height="267"
            fetchpriority="high"
            loading="eager"
          />
        </a>
      </li>
      <li>
        <ul class="Header__Navegacion">
          <li>
            <a
              class="Header__Navegacion--Txt"
              href="/QuienesSomos/QuienesSomos.html"
              title="Acerca de Planeta"
              target="_self"
              aria-label="Link para descubrir mas acerca de planeta"
            >
              ¿Quiénes Somos?</a
            >
          </li>
          <li>
            <a
              class="Header__Navegacion--Txt"
              href="/Servicios/Servicios.html"
              title="Nuestros Servicios"
              target="_self"
              aria-label="Link a los servicios de planeta sas esp"
            >
              Servicios</a
            >
          </li>
          <li>
            <a
              class="Header__Navegacion--Txt"
              href="/Preguntas_Frecuentes/PreguntasFrecuentes.html"
              title="Preguntas Frecuentes"
              target="_self"
              aria-label="Link hacia las preguntas frecuentes"
            >
              Preguntas frecuentes</a
            >
          </li>
        </ul>
      </li>
      <li>
        <ul class="Header__Buttons">
          <li>
            <a
              href="https://www.app.grinclic.com/login.php?lk="
              class="Button__Otros"
              aria-label="Boton para acceder a los
                Certificados"
            >
              Certificados
            </a>
          </li>

          <li>
            <a
              href="/Contactanos/Contactanos.html"
              class="Button__Contacto"
              aria-label="Boton para contactarse con planeta"
            >
              Contáctanos
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
