section {
  margin-top: 151px;
  padding-inline: var(--px-fluid);
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
section p {
  margin-bottom: 16px;
}
@media (min-width: 1025px) and (max-width: 1450px) {
  section {
    padding-inline: var(--lap-px);
  }
}
@media (max-width: 1024px) {
  section {
    padding-inline: var(--tab-px);
    margin: 100px 0 32px 0;
  }
}
@media (max-width: 600px) {
  section {
    padding-inline: 24px;
  }
}
