body {
  background-color: var(--c-bg11);
}

section h1 {
  font-size: 4rem;
}

/*--------Incio---------*/
.QuienesSomos {
  display: flex;
  padding: 0px var(--px-fluid);
  min-height: 50vh;
  text-align: center;
  background: linear-gradient(0deg, #00000000 0%, #136972b3 100%),
    url(/QuienesSomos/Recursos/PlantaPlaneta.JPG) lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  will-change: auto;
}

.QuienesSomos__Text {
  font-size: 4rem;
  color: var(--c-bg11);
  text-align: center;
  margin: auto;
  flex-grow: 1;
}

.Intro {
  margin-top: 60px;
  padding: 0 var(--px-fluid);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 16px 64px;
  grid-template-areas:
    "Title Img"
    "Text Img";
}
.Intro__Title {
  grid-area: Title;
}

.Intro__Text {
  grid-area: Text;
}
.Intro__Img {
  background: url(/QuienesSomos/Recursos/SomosPlanetaSASESP.jpg) lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  grid-area: Img;
}

/*-------- Principios de operacion ---------*/
.POperacion {
  padding: 72px var(--px-fluid);
  background-color: var(--c-bg21);
  content-visibility: auto;
  contain-intrinsic-size: auto 800px;
}
.POperacion > h2 {
  color: var(--c-bg11);
}
/*-------- LYC ---------*/
.LYC {
  padding-inline: var(--px-fluid);
  content-visibility: auto;
  contain-intrinsic-size: auto 1200px;
}
.LYC__Title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.LYC__Title > li > h3 {
  margin-top: 40px;
  text-align: center;
}
.LYC__LCards {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
.LYC__LCardsItem {
  height: 100%;
  background: linear-gradient(292deg, var(--c-cd11) 0%, var(--c-cd12) 100%);
  padding: 48px;
  border-radius: 16px;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 16px 16px;

  grid-template-areas:
    "Img Title"
    "Res Res"
    "Text Text";
}
.LYC__LCardsItem--Img {
  padding: 8px;
  height: 120px;
  width: 120px;
  background-color: var(--c-bg11);
  border-radius: 8px;
  grid-area: Img;
}
.LYC__LCardsItem--Img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;

  border-radius: inherit;
}
.LYC__LCardsItem--Title {
  color: var(--c-ppl2);
  grid-area: Title;
}
.LYC__LCardsItem--Res {
  color: var(--c-bg11);
  grid-area: Res;
}
.LYC__LCardsItem--Text {
  color: var(--c-bg11);
  grid-area: Text;
}

.LYC > h3 {
  margin-top: 64px;
  text-align: center;
}
.LYC__C {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.LYC__CItem {
  display: flex;
  gap: 16px;
}

.LYC__CCardItem {
  background: linear-gradient(292deg, var(--c-cd11) 0%, var(--c-cd12) 100%);
  border-radius: 16px;
  color: var(--c-bg11);
  padding: 54px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.LYC__CCardItem--Text {
  margin-top: 16px;
}
.LYC__CLogo {
  flex-direction: column;
  text-align: center;
  gap: 0px;
}

.LYC__CLogo--Text {
  color: #000;
  font-family: "Arial Narrow";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* ---------- Media Queris ---------- */
/* ---------- Lap ---------- */
@media (min-width: 1025px) and (max-width: 1450px) {
  section {
    margin-bottom: 155px;
  }
  .QuienesSomos,
  .Intro,
  .MisionVision,
  .POperacion,
  .LYC {
    padding-inline: var(--lap-px);
  }

  .LYC__LCards {
    flex-direction: column;
  }

  .LYC__LCardsItem {
    gap: 16px 0px;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-content: center;
  }
}
/* ---------- Tablet ---------- */
@media (max-width: 1024px) {
  section {
    margin-bottom: 120px;
  }
  .QuienesSomos,
  .Intro,
  .MisionVision,
  .POperacion,
  .LYC {
    padding-inline: var(--tab-px);
  }

  .Intro {
    display: flex;
    flex-direction: column;
  }
  .Intro__Img {
    width: 100%;
    min-height: 300px;
  }
  .LYC__LCards {
    flex-direction: column;
  }

  .LYC__LCardsItem {
    gap: 16px 16px;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-content: center;
  }

  .LYC__CCardItem {
    padding: 40px 24px;
  }
}
/* ---------- Movil ---------- */
@media (max-width: 600px) {
  section {
    margin-bottom: 50px;
  }

  .QuienesSomos,
  .Intro,
  .MisionVision,
  .LYC {
    padding-inline: 24px;
  }
  section h1,
  .QuienesSomos__Text {
    font-size: 35px;
  }
  .Intro {
    margin-top: 24px;
  }

  .LYC__LCards {
    margin-top: 24px;
  }
  .LYC__LCardsItem--Img {
    height: 80px;
    width: 80px;
  }
  .LYC__LCardsItem {
    padding: 40px 24px;
    grid-template-columns: 1fr 2fr;
  }
  .LYC__CItem {
    flex-direction: column;
  }
}
