section {
  margin-top: 151px;
  padding-inline: var(--px-fluid);
  margin-bottom: 64px;
}
section > p,
section h1 {
  text-align: center;
  margin-bottom: 8px;
}
section h1 {
  font-size: 4rem;
}

.PreguntasSelector {
  margin: 16px 0 24px 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.ServiciosYCovertura,
.ProcesosYContratacion,
.NormativasYRespaldo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.PreguntasFrecuentes > li > ul.is-hidden {
  display: none !important;
}

.Button__Otros.is-active {
  background-color: var(--c-ppl2);
}

.faq-viewport {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.faq-track {
  display: flex;

  transition: transform 520ms cubic-bezier(0.22, 0.61, 0.36, 1);
  will-change: transform;
}

.faq-slide {
  flex: 0 0 100%;
  margin-block: 0 !important;
  padding-inline: 0px;
}

.faq-slide > ul {
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  .faq-track {
    transition: none;
  }
}

.faq-viewport.animating-height {
  transition: height 260ms ease;
}

@media (min-width: 1025px) and (max-width: 1450px) {
  section {
    padding-inline: var(--lap-px);
  }
}
@media (max-width: 1024px) {
  section {
    padding-inline: var(--tab-px);
    margin: 100px 0 32px 0;
  }
  .PreguntasSelector {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  section {
    padding-inline: 24px;
  }
  section h1 {
    font-size: 35px;
  }
  .PreguntasSelector {
    flex-direction: column;
  }
}
