html,
body {
  overflow-x: clip;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: #eef4eb;
}

section {
  margin-bottom: 200px;
}
li {
  list-style-type: none;
}
/*---------a---------*/
a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/*---------tipografia---------*/
:root {
  --c-bg11: #eef4eb;
  --c-text: #000;
  --c-ppl1: #62b43c;
  --c-ppl2: #b1e723;
  --c-cd11: #136972;
  --c-cd12: #208994;
  --c-bg21: #165545;
  --c-bg22: #103d31;
  --c-bg12: #cacaca;
  --c-white: #fff;
}

span {
  color: var(--c-ppl1);
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  line-height: normal;
  text-wrap: balance;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
  font-size: 1rem;
  font-weight: 400;
}
p,
.lead {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  line-height: normal;
  text-wrap: pretty;
}

p {
  font-size: 1rem;
  font-weight: 400;
}
.lead {
  font-size: 1.25rem;
  font-weight: 500;
}

p strong {
  font-weight: 400;
  color: inherit;
}

.lead strong {
  font-weight: 500;
  color: inherit;
}

p > .highlight {
  font-weight: 500;
}

.lead > .highlight {
  color: var(--c-ppl2);
}

:root {
  --lap-mx: clamp(
    32px,
    calc(39.5294vw - 373.1765px),
    200px
  ); /* margen/padding horizontal para laptops */
  --lap-my: 155px; /* margen vertical para laptops */
  --lap-px: clamp(
    32px,
    calc(39.5294vw - 373.1765px),
    200px
  ); /* padding horizontal para laptops */

  --tab-mx: clamp(32px, 12vw, 32px); /* márgenes laterales */
  --tab-px: clamp(32px, 12vw, 32px); /* paddings laterales */
  --tab-my: 120px; /* márgenes verticales sección */

  --mx-fluid: clamp(200px, 15.625vw, 300px);
  --px-fluid: clamp(200px, 15.625vw, 300px);
}

article h1,
aside h1,
nav h1,
section h1,
main h1,
header h1 {
  font-size: 4rem;
}
@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  h3,
  summary {
    font-size: 20px;
  }
  p.lead {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}
